:root {
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial';
    box-sizing: border-box;
}

html {
    background-color: #DDDDDD;
}

#header {
    text-align: center;
    padding: 2rem;
}

#add-book {
    display: flex;
    margin: auto;
    background-color: white;
    padding: .5rem 1rem;
    font-size: 18px;
    transition: 0.15s;
    border-radius: 10px;
}

#add-book:hover {
    transform: scale(1.05, 1.05);
}

#library {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));  
    gap: 1rem;
}

.book-card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: white;
    border-radius: 10px;
    padding: 2rem 0;
}

#book-buttons {
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
}

#book-buttons button {
    width: 100%;
    font-size: 18px;
    margin: 0rem 1rem;
    padding: .5rem 4rem;
    border-radius: 10px;
    transition: 0.15s;
}

#book-buttons button:hover {
    transform: scale(1.03, 1.03);
}

#read-button {
    background-color: lightcoral;
}

#remove-button {
    background-color: #dddddd;
}

/* MODAL */

.modal-container {
    /* modal background */
    background-color: rgba(0, 0, 0, 0.3);
     /* center */
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    /* cover whole display */
    width: 100vw;
    height: 100vh;
    z-index: 1;
    /* change with JS onclick */
    opacity: 0;
    pointer-events: none;
    transition: 0.25s;
}

/* modal content */
#modal {

}

#modal-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 1rem;
    margin: auto;
    padding: 2rem 1rem;
    width: 100%;
    border-radius: 20px;
}

#modal-form > h2 {
    text-align: center;
}

#modal-form > input {
    border-radius: 10px;
    padding: .5rem;
}

.read {
    margin: auto;
}

#read-checkbox {
    margin-left: .5rem;
    transform: scale(1.3, 1.3);
}

#submit {
    padding: .5rem;
    border-radius: 10px;
    background-color: #ededed;
    transition: .15s;
}

#submit:hover {
    background-color: lightgreen;
}
